<!--

.break {
    page-break-before: always;
    page-break-inside: avoid;
}

.noprint {
    display: none;
}

.card-panel {
    padding: 0px 1px;
    border: none;
    box-shadow: none;
    transition: none;
}

.collection, .collection-item, .collection-header, .collection.with-header {
    line-height: 1.5rem;
    padding: 0px 1px;
}

.collection.with-header .collection-header, .collection.with-header .collection-item, .collection .collection-item {
    padding: 0px 5px;
    border-bottom: 0px;
}

.section {
    padding-top: 0px;
    padding-bottom: 0px;
}

-->
