    <div class="row card-panel hoverable">
      <div class="col s12 center-align"><h5>Professional Experience</h5></div>
      <ul class="collection card-panel" ng-repeat="job in info">
        <li>
          <div class="row">
            <div class="col s12"><b>{{job.title}}</b></div>
            <div class="col s9">{{job.co}}</div>
            <div class="col s3 right-align">{{job.start_date}} - {{job.end_date}}</div>
          </div>
        </li>
        <li class="collection-item" ng-repeat="achievement in job.achievements">{{achievement.info}}</li>
      </ul>
    </div>
